<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jlo19.guitartutor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LearnAllChordsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LearnChordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.LearnAllChordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LearnChordVideoActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.LearnChordActivity" />
        <activity
            android:name=".activities.LearnDiagramHelpActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.LearnChordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PractiseActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.PractiseSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PractiseSetupActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SongLibraryActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SongActivity"
            android:parentActivityName=".activities.SongLibraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditAccountActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>